<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>studentReg</servlet-name>
        <servlet-class>com.nitc.lab.servelet.studentReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>labInchReg</servlet-name>
        <servlet-class>com.nitc.lab.servelet.labInchReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminReg</servlet-name>
        <servlet-class>com.nitc.lab.servelet.adminReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentLoginSer</servlet-name>
        <servlet-class>com.nitc.lab.servelet.studentLoginSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabInchargeLoginSer</servlet-name>
        <servlet-class>com.nitc.lab.servelet.LabInchargeLoginSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginSer</servlet-name>
        <servlet-class>com.nitc.lab.servelet.AdminLoginSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutSer</servlet-name>
        <servlet-class>com.nitc.lab.servelet.LogOutSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentLogout</servlet-name>
        <servlet-class>com.nitc.lab.servelet.studentLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabinchargeLogout</servlet-name>
        <servlet-class>com.nitc.lab.servelet.LabinchargeLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>com.nitc.lab.servelet.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentComSer</servlet-name>
        <servlet-class>com.nitc.lab.servelet.studentComSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>labinchaRequestSer</servlet-name>
        <servlet-class>com.nitc.lab.servelet.labinchaRequestSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newSystemRegSer</servlet-name>
        <servlet-class>com.nitc.lab.servelet.newSystemRegSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminApproved</servlet-name>
        <servlet-class>com.nitc.lab.servelet.adminApproved</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>systemUpdateSer</servlet-name>
        <servlet-class>com.nitc.lab.servelet.systemUpdateSer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>studentReg</servlet-name>
        <url-pattern>/studentReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>labInchReg</servlet-name>
        <url-pattern>/labInchReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminReg</servlet-name>
        <url-pattern>/adminReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentLoginSer</servlet-name>
        <url-pattern>/studentLoginSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabInchargeLoginSer</servlet-name>
        <url-pattern>/LabInchargeLoginSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginSer</servlet-name>
        <url-pattern>/AdminLoginSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutSer</servlet-name>
        <url-pattern>/LogOutSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentLogout</servlet-name>
        <url-pattern>/studentLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabinchargeLogout</servlet-name>
        <url-pattern>/LabinchargeLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentComSer</servlet-name>
        <url-pattern>/studentComSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>labinchaRequestSer</servlet-name>
        <url-pattern>/labinchaRequestSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newSystemRegSer</servlet-name>
        <url-pattern>/newSystemRegSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminApproved</servlet-name>
        <url-pattern>/adminApproved</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>systemUpdateSer</servlet-name>
        <url-pattern>/systemUpdateSer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
